<% layout('/layouts/default.html', {title: '风险类型管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('风险类型管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('sys:dictData:edit')){ %>
					<a href="${ctx}/sys/riskPointType/form" class="btn btn-default btnTool" title="${text('新增风险类型')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${dictData}" action="${ctx}/sys/riskPointType/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('风险类型')}：</label>
					<div class="control-inline">
						<#form:input path="dictLabel" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('风险键值')}：</label>
					<div class="control-inline">
						<#form:input path="dictValue" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group hide">
					<label class="control-label">${text('风险类型')}：</label>
					<div class="control-inline">
						<#form:input path="dictType" maxlength="100" class="form-control width-120"/>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">${text('风险描述')}：</label>
					<div class="control-inline">
						<#form:input path="description" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("风险类型排序")}', name:'treeSort', index:'a.tree_sort', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/sys/riskPointType/form?dictCode='+row.dictCode+'" class="btnList" data-title="${text("编辑风险类型")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("风险类型")}', name:'dictLabel', index:'a.dict_label', width:150, align:"center"},
		{header:'${text("风险类型键值")}', name:'dictValue', index:'a.dict_value', width:150, align:"center"},
		{header:'${text("风险类型描述")}', name:'description', index:'a.description', width:150, align:"center"},
		{header:'${text("风险类型状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('sys:dictData:edit')){ %>
				actions.push('<a href="${ctx}/sys/riskPointType/form?dictCode='+row.dictCode+'" class="btnList" title="${text("风险类型")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/sys/riskPointType/delete?dictCode='+row.dictCode+'" class="btnList" title="${text("风险类型")}" data-confirm="${text("确认要风险类型吗？")}" data-deltreenode="'+row.id+'"><i class="fa fa-trash-o"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/sys/riskPointType/form?parentCode='+row.id+'" class="btnList" title="${text("风险类型")}"><i class="fa fa-plus-square"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	treeGrid: true,			// 启用树结构表格
	defaultExpandLevel: 0,	// 默认展开的层次
	expandNodeClearPostData: 'dictLabel,dictValue,dictType,isSys,description,cssStyle,cssClass,remarks,', // 展开节点清理请求参数数据（一般设置查询条件的字段属性，否则在查询后，不能展开子节点数据）
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});
</script>