<% layout('/layouts/default.html', {title: '商品明细表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('商品明细表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('gd:goodsDetail:edit')){ %>
					<a href="${ctx}/gd/goodsDetail/form" class="btn btn-default btnTool" title="${text('新增商品明细表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${goodsDetail}" action="${ctx}/gd/goodsDetail/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('商品id')}：</label>
				</div>
				<div class="form-group">
					<label class="control-label">${text('商品名称')}：</label>
					<div class="control-inline">
						<#form:input path="goodsName" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('商品属性')}：</label>
					<div class="control-inline width-120">
						<#form:select path="goodsProperty" dictType="goods_property" multiple="true" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('销量')}：</label>
					<div class="control-inline">
						<#form:input path="sales" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('库存')}：</label>
					<div class="control-inline">
						<#form:input path="repertory" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('量词')}：</label>
					<div class="control-inline">
						<#form:input path="choose" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('量词类型')}：</label>
					<div class="control-inline width-120">
						<#form:select path="goodsKind" dictType="choose_type" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('颜色')}：</label>
					<div class="control-inline width-120">
						<#form:select path="goodsColour" dictType="goods_colour" multiple="true" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('优惠类型')}：</label>
					<div class="control-inline width-120">
						<#form:select path="discounts" dictType="discounts_type" multiple="true" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('服务')}：</label>
					<div class="control-inline width-120">
						<#form:select path="serve" dictType="user_service_type" multiple="true" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('积分')}：</label>
					<div class="control-inline">
						<#form:input path="integral" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('商品价格')}：</label>
					<div class="control-inline">
						<#form:input path="goodPrice" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否特价')}：</label>
					<div class="control-inline">
						<#form:radio path="isSale" dictType="sys_yes_no" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("商品名称")}', name:'goodsName', index:'a.goods_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/gd/goodsDetail/form?goodsId='+row.goodsId+'" class="btnList" data-title="${text("编辑商品明细表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("销量")}', name:'sales', index:'a.sales', width:150, align:"center"},
		{header:'${text("库存")}', name:'repertory', index:'a.repertory', width:150, align:"center"},
		{header:'${text("量词")}', name:'choose', index:'a.choose', width:150, align:"center"},
		{header:'${text("量词类型")}', name:'goodsKind', index:'a.goods_kind', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('choose_type')}, val, '${text("未知")}', true);
		}},
		{header:'${text("原价")}', name:'originalCost', index:'a.original_cost', width:150, align:"center"},
		{header:'${text("优惠类型")}', name:'discounts', index:'a.discounts', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('discounts_type')}, val, '${text("未知")}', true);
		}},
		{header:'${text("服务")}', name:'serve', index:'a.serve', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('user_service_type')}, val, '${text("未知")}', true);
		}},
		{header:'${text("积分")}', name:'integral', index:'a.integral', width:150, align:"center"},
		{header:'${text("商品价格")}', name:'goodPrice', index:'a.good_price', width:150, align:"center"},
		{header:'${text("是否特价")}', name:'isSale', index:'a.is_sale', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_yes_no')}, val, '${text("未知")}', true);
		}},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注")}', name:'remarks', index:'a.remarks', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('gd:goodsDetail:edit')){ %>
				actions.push('<a href="${ctx}/gd/goodsDetail/form?goodsId='+row.goodsId+'" class="btnList" title="${text("编辑商品明细表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/gd/goodsDetail/delete?goodsId='+row.goodsId+'" class="btnList" title="${text("删除商品明细表")}" data-confirm="${text("确认要删除该商品明细表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>